.profile__edit-button {
    margin: 8px 0 0 5px;
    cursor: pointer;
    transition: opacity linear 0.4s;
}
.profile__edit-button:hover {
    opacity: 0.6
}
@media screen and (max-width: 767px) {
    .profile__edit-button {
        margin: 0;
        max-width: 18px;
    }
}